API_ID= 15039367
API_HASH= 91abeeb189399ebf3e6abb6819d28a09
BOT_TOKEN= 5274407976:AAFB_nzkpWPWJ0ZdKe36jCFszcJzUs7YGlg
DURATION_LIMIT= 999
MONGO_DB_URI= mongodb+srv://kyy:kyy@cluster0.a8a1b.mongodb.net/test?retryWrites=true&w=majority
LOG_GROUP_ID= -1001577114137
MUSIC_BOT_NAME= CTO Music 
OWNER_ID= 1663258664
AUTO_LEAVING_ASSISTANT= False
SPOTIFY_CLIENT_ID= ff36a443b59a45ff95b708db5b14b2b5
SPOTIFY_CLINET_SECRET= 51e0cc2a3a7f4607b6957cc21e52a324
STRING_SESSION= BQArARIgvHsv5E9oHH3-mEN9G2iV07I22VuPzS6diYJovR1MVTUYYCz9YlTilw6I8B8Or1IPaNr6PPrLfs3bUPSNfS9FKERVxSS1JNZUw_cEROQrrAUkPvUAyjZGjBwF7kDDIioMXZs-ojsrodzNNb4an0mFrZte-1uBxd63VnehSvMwnX4an4z1GCuLLRNx10U0PbE9B6Ldm3a9GjY9T-qi7eE0J33J16ecnphGK8RfmyoM6wQTVWgXs1iBFApFKQL8MY16Y1Iu3IE8ukQdc672fqOWk3c6W7kYbAfc0nJ9Xp_JdMY4FmBCrfZcpL_6YdSi582gH28TlOylk48s5PlofuTMeAA
TG_VIDEO_FILESIZE_LIMIT= 5368709120
UPSTREAM_BRANCH= master
UPSTREAM_REPO= https://muhammadrizky16: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@github.com/muhammadrizky16/YukkiRexa
