API_ID= 15107029
API_HASH= b7b9b7530025c02442bfcbe409abcb9e
BOT_TOKEN= 2129034376:AAGNwhKBMvdZ9w_y9wj30792XN-ySZb0mHo
DURATION_LIMIT= 999
MONGO_DB_URI= mongodb+srv://kyymusic:AsampeZ12@cluster0.74fjn.mongodb.net/test?retryWrites=true&w=majority
LOG_GROUP_ID= -1001549917093
MUSIC_BOT_NAME= Nasty 
OWNER_ID= 1663258664
AUTO_LEAVING_ASSISTANT= True
SPOTIFY_CLIENT_ID= ff36a443b59a45ff95b708db5b14b2b5
SPOTIFY_CLINET_SECRET= 51e0cc2a3a7f4607b6957cc21e52a324
STRING_SESSION= BQDCAwkqT-DQhHdUV65KLVvgr4rTkyWsdPZZG_NTGZqPx4-WY66zoCpk7B1vJETr5DgkkJhAHmwKBESUPmWs8_kuBtkP8xwg_oriDXgdezaNbdn8iSzwEe7MmMt_XUAbawXGN-n26X22IHDsnbTE9__W56G9MeithgdLwLR5sDB6btFWo8LSg6hsugWls-Ohkydt7PBgQP_pGfdhWcO7axC6JAmSM2I78M-0ZoQ9mDGvTSRU3hlShsWvqlqOGAwIFXvVZ73iDxAbOsFw0gtpfok41UrtuXbKsj56nouxflaNRNxo974TeLCr9kIIx2gqFxd-5wb2nARIwyhbgx2c-y26egeLcAA
TG_VIDEO_FILESIZE_LIMIT= 3145728
UPSTREAM_BRANCH= master
UPSTREAM_REPO= https://muhammadrizky16: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@github.com/muhammadrizky16/YukkiRexa
